@model AgendaContatos.Presentation.Models.ContatoCadastroViewModel

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class=" container mt-3" >
    <div class="card">
        <div class="card-body ">

            <h5>Cadastro de Contatos</h5>
            <p>Preencha o formulário para incluir um contato em sua agenda.</p>
            <hr />

               @using(Html.BeginForm())
        {
            <div class="row mb-2">
                <div class="col-md-8">
                    <label>Nome do contato:</label>
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.Nome)
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Email do contato:</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <label>Telefone do contato:</label>
                    @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.Telefone)
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Data de Nascimento:</label>
                    @Html.TextBoxFor(model => model.DataNascimento, new { @class = "form-control", @type = "date" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.DataNascimento)
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Tipo do Contato:</label>
                    <div>
                        @Html.RadioButtonFor(model => model.Tipo, 1) <label>Amigos</label> &nbsp;
                        @Html.RadioButtonFor(model => model.Tipo, 2) <label>Trabalho</label> &nbsp;
                        @Html.RadioButtonFor(model => model.Tipo, 3) <label>Família</label> &nbsp;
                        @Html.RadioButtonFor(model => model.Tipo, 4) <label>Outros</label>
                    </div>
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.Tipo)
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-12">
                    <input type="submit" value="Realizar Cadastro" class="btn btn-success"/>
                </div>
            </div>
        }


        </div>
    </div>
</div>
